/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
    background-image: url('https://i.pinimg.com/originals/29/07/f8/2907f819142e89282e51a35a38caa346.jpg');
    background-size: auto;
    height: 100vh;
    font-family: 'Courgette', cursive;
  }

 .contato{
padding: 2em;
height: 35vh;
background-color: rgb(231, 218, 100);
 }

 .sobre{
   background-color:  rgb(231, 218, 100);
   padding: 2em
   height 40vh;
 }

 .sobre p {
   color: rgb(52, 148, 84);
   text-indent: 5em;
   margin-bottom: 0.5em;
   text-align: justify;
 }
 .sobre h2 {
  background-color: rgb(114, 194, 114);
  font-family: 'Courgette', cursive;
  margin-bottom: 1em;
  font-size: 2em;
 }
 .contato h2 {
     background-color: rgb(114, 194, 114);
     font-family: 'Courgette', cursive;
     margin-bottom: 1em;
     font-size: 2em;
 }
 .contato a {
   color: rgb(52, 148, 84);
   font-size: 1em;
 }

 .contato a:active,
 .contato a:hover {
 text-decoration: none;
 text-shadow:  04px 04px 5px blue;
 }

  .contato .icons {
 text-align: center;
 font-size: 5em;
 color: aqua
 ;
 }
  header {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu {
    color: blue;
    font-family: 'Balsamiq Sans', cursive;
    position: inherit;
  }

  .menu a{
    padding: 5px 20px;
  }

  .menu a:hover {
 color: blue;
  }

   .menu li {
    list-style:none;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
 
  
  .site-title {
    color: rgb(52, 148, 84);
    display: flex;
    justify-content: center;
  }
  
  .site-subtitle {
    color:  rgb(255, 240, 32);
    display: flex;
    justify-content: center; 
    font-style: arial 
  }
  
  .site-title, .site-subtitle {
    background-color: lightblue;
    font-family: 'Anton', sans-serif;
  }