/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
    background-image: url('https://i.pinimg.com/originals/29/07/f8/2907f819142e89282e51a35a38caa346.jpg');
    font-family: Arial Black;
    background-size: auto 100vh;
    height: 100vh;
  }

   }
 }
  header {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu {
    color: white;
    position: fixed;
    
  }

   .menu li {
    list-style:none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
 
  
  .site-title {
    color: yellow;
    display: flex;
    justify-content: center;
  }
  
  .site-subtitle {
    color: green;
    display: flex;
    justify-content: center; 
    font-style: arial 
  }
  
  .site-title, .site-subtitle {
    background-color: lightblue;
  }